
body {
  margin:0;
  background:#05050f;
  color:#0ff;
  font-family: system-ui;
  text-align:center;
}
canvas {
  background:#000;
  margin-top:10px;
  border:2px solid #0ff;
  box-shadow: 0 0 10px #0ff;
}
.hud {
  display:flex;
  justify-content:space-around;
  padding:10px;
  font-weight:bold;
}
